# Update baseline command:
# ./vendor/bin/phpstan analyse --configuration phpstan.neon.dist --generate-baseline
#

includes:
    - phpstan-baseline.neon

parameters:
    level: 7
    paths:
        - src
        - tests


    ignoreErrors:


    excludePaths:
        - '*/vendor/*'
        - '*/Spec/*'