parameters:
	ignoreErrors:
		-
			message: "#^Property OpenDaje\\\\IdentityAccess\\\\Infrastructure\\\\Persistence\\\\InMemory\\\\InMemoryUserRepository\\:\\:\\$users with generic interface Doctrine\\\\Common\\\\Collections\\\\Collection does not specify its types\\: TKey, T$#"
			count: 1
			path: src/Infrastructure/Persistence/InMemory/InMemoryUserRepository.php

		-
			message: "#^Method OpenDaje\\\\IdentityAccess\\\\Tests\\\\Domain\\\\Model\\\\Identity\\\\EmailAddressTest\\:\\:it_should_sanitize_email\\(\\) has parameter \\$email with no type specified\\.$#"
			count: 1
			path: tests/Domain/Model/Identity/EmailAddressTest.php

		-
			message: "#^Method OpenDaje\\\\IdentityAccess\\\\Tests\\\\Domain\\\\Model\\\\Identity\\\\EmailAddressTest\\:\\:it_should_sanitize_email\\(\\) has parameter \\$expectedEmail with no type specified\\.$#"
			count: 1
			path: tests/Domain/Model/Identity/EmailAddressTest.php

		-
			message: "#^Method OpenDaje\\\\IdentityAccess\\\\Tests\\\\Domain\\\\Model\\\\Identity\\\\EmailAddressTest\\:\\:sanitizedEmails\\(\\) return type has no value type specified in iterable type iterable\\.$#"
			count: 1
			path: tests/Domain/Model/Identity/EmailAddressTest.php

